page-edit-materias {
	ion-input{
		border: 2px dashed #939393;
		border-radius: 5px;
	}
	ion-select{
		border: 2px dashed #939393;
		border-radius: 5px;
		max-width: 100%!important
		
	}
	#buttonColor{
		font-size:  55px;
		margin-left: 10px;
		
	}
	button{
		margin-radius: 15px!important;
	}
}
