page-relatorio-materia {
	ion-item{
		border-radius: 15px!important;
	}
	.linha{
		border-bottom: 1px solid rgba(255,255,255,0.1)!important;
		border-top: 1px solid rgba(255,255,255,0.1)!important;
	}
}
